
h1 {
color:rgb(131, 90, 2);
margin-left: 20px;
}

body {
    background-color:#fafafb;
}

h2, h3 {
    color:gray;
    margin-right: 86px;
    margin-left: 86px;
}

p
{
margin-right: 86px;
margin-left: 86px;
line-height: 35px;
text-align: justify;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
}
   
#header {
    background-color:gold;
    padding:5px;
    margin:86px;
    margin-top: 20px;
    margin-block-end: 15px;
}


table
  {
  margin: 0 auto;
  width: 86%; height:60px;
  background-color: lightgray;
  line-height:30px;
  text-align: center;
  }
td
  {
  text-align:center;
  width: 25%;
  }

#footer {
    background-color:gold;
    color:black;
    clear:both;
    text-align:center;
    padding:5px; 
    margin:86px;
    margin-top: 20px;
    margin-block-end: 20px;
}

a:link,a:visited
{
display:block;
font-weight:bold;
color:black;
background-color:#eeeeee;
width:180px;
text-align:center;
padding:5px; 
text-decoration:none;
text-transform:uppercase;
}

a:hover,a:active
{
background-color:gold;
}

hr {
margin-right:86px;
margin-left:86px;
border-top:2px solid gold;
}

/* Dashed Gold border */
hr.new {
    border-top: 5px dashed gold;
  }

